politicians_sound_project/information_collection/audio_data/
politicians_sound_project/information_collection/test_audio_data/

project/mfcc_output/
project/data/jackson/
project/data/yweweler/
project/data/nicolas/
project/data/theo/
